html {
  background: url('phones.jpg') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
body {
  margin: 0;
  font-family: 'Lato';
  font-weight: 300;
  color: #9b59b6;
  overflow-x: hidden;
}
a {
  color: #9b59b6;
  text-decoration: none;
}
h2 {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 2em;
}
hr {
  width: 60px;
  margin: 20px auto;
  display: block;
  border-color: #9b59b6;
  height: 1px;
  border-width: 2px 0px 0px;
  border-style: solid none none;
  border-image: none;
  padding: 0;
  box-sizing: content-box;
}
.header {
  width: 100%;
  /*position: fixed;*/
  z-index: 101;
  top: 0;
  color: #fff;
  padding-top: 20px;
}
#footer {
  padding: 14px;
  background: inherit;
  text-align: center;
  font-size: 1em;
}
.anchor {
  height: 0;
}
.letterpress {
  font-size: 20px;
  color: #222;
  text-shadow: 0px 2px 3px #555;
}
.container {
  width: 80%;
  max-width: 600px;
  margin: auto;
  text-align: center;
}
.card {
  margin: auto;
}
.fluid-table {
  max-width: 460px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.divider {
  width: 100%;
}
.divider-heading {
  padding: 39px 0px 39px 0px;
  margin: auto;
  border-bottom: 2px solid #9b59b6;
  width: 20%;
  min-width: 300px;
  color: #9b59b6;
  font-weight: 300;
  font-family: 'Lato';
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.4em;
  text-align: center;
}
.wrapper.darker {
  background: #f0f0f0;
}
.wrapper {
  width: 100%;
  background: #fff;
  padding-bottom: 10px;
}
.content {
  padding: 20px 10px 20px;
  min-height: 160px;
  line-height: 1.5;
  font-size: 1.4em;
}
.content-icon-holder {
  height: 200px;
}
.content-icon-holder.left {
  float: left;
}
.content-icon-holder.right {
  float: right;
}
#page-content {
  /*background: #fff;*/
  text-align: center;
}

/*#header .logo {
  display: inline-block;
  font-family: 'Pacifico';
  color: #fff;
  line-height: 30px;
  padding: 20px;
  font-size: 2em;
}*/

.content h2 {
  margin-top: 0;
  margin-bottom: 0px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.4em;
}
.header .logo::before {
  content: 'SomeOne';
}
.header .nav {
  display: inline-block;
  margin: auto;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  width: 100%;
}
.container.wide {
  width: 80%;
  max-width: 1400px;
}
.container.fluid {
  width: 100%;
  max-width: none;
  padding: 0px;
}
.banner {
  min-height: 100vh;
  background: rgba(155, 89, 182, 0.2);
}
.banner-wrapper {
  background: url('phones.jpg') no-repeat center top;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.logo-big {
  text-align: center;
  margin: auto;
  font-size: 8em;
  color: #ecf0f1;
  font-family: 'Pacifico';
  margin-top: 10%;
}
.logo-footer {
  text-align: center;
  margin: auto;
  color: #fff;
  padding-bottom: 40px;
  font-size: 3em;
  font-family: 'Lato';
  font-weight: 300;
  /*text-shadow: 1px 1px #fff;*/
}
.logo-big::before {
  content: 'SomeOne';
}
.nav-link {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  line-height: 40px;
  font-size: 1.6em;
  padding: 0px 20px 0px 20px;
  margin-bottom: 15px;
  color: #fff;
  border-bottom: 1px solid rgba(236, 240, 241, 0);
  transition: all 0.3s;
}
.nav-link.some{
  padding: 0px;
  width: 20%;
  max-width: 100px;
}
.nav-link:hover {
  border-color: #fff;
}
.chevron-down {
  color: #fff;
  transition: all 0.3s;
}
.chevron-down:hover {
  color: #9b59b6;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.content-link {
  color: #1abc9c;
}
.some-icons {
  display: block;
  font-size: 2em;
  letter-spacing: 1vw;
}
.timo {
  background: url('timo.jpg') center/cover no-repeat;
}
.emmi {
  background: url('emmi.jpg') center/cover no-repeat;
}

/*Content symbols = the icons above the content blocks*/

.content-symbol {
  position: relative;
  font-size: 4em;
  line-height: 132px;
  margin: 10px;
  width: 140px;
  height: 140px;
  margin-bottom: 20px;
  color: #9b59b6;
  border-radius: 100%;
  border: 2px solid #9b59b6;
  transition: all 0.2s;
  display: inline-block;
}
.content-symbol:after {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  top: -10px;
  left: -10px;
  padding: 10px;
  box-shadow: 0 0 0 6px #9b59b6;
  transition: all 0.2s;
  transform: scale(0.8);
  opacity: 0;
}
.content-symbol:hover {
  color: #fff;
  background-color: #9b59b6;
  cursor: pointer;
}
.content-symbol:hover:after {
  opacity: 1;
  transform: scale(1);
}
.no-ring {
  border: none !important;
}
.content-symbol.big {
  width: 200px;
  height: 200px;
  line-height: 200px;
}

/*Styles for the content symbols that have flipsides*/

.content-symbol.flipside {
  box-shadow: inset 0 0 0 0 rgba(155, 89, 182, 0.2);
}
.content-symbol.flipside:hover {
  box-shadow: inset 0 0 0 100px rgba(155, 89, 182, 0.9);
}

/*Styles for the info blocks inside content symbols*/

.content-symbol-info {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  line-height: normal;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
  backface-visibility: hidden;
  font-size: 24px;
  font-weight: 400;
}
.content-symbol.flipside:hover .content-symbol-info {
  opacity: 1;
  transform: scale(1);
}
.content-symbol-info h2 {
  font-size: 30px;
  font-weight: 300;
}
.content-symbol-info.solid {
  background: #9b59b6;
}
.v-centered {
  display: table-cell;
  vertical-align: middle;
}
.v-centered-wrapper{
  display: table;
}
.center {
  text-align: center;
}
.inset-shadow {
  box-shadow: inset 0 4px 8px -6px #696868, inset 0 -4px 8px -6px #696868;
}
.pattern {
  background: url('subtlenet2.png') repeat;
}

.rect-btn {
  border: 2px solid #f0f0f0;
  color: #f0f0f0;
  padding: 10px;
  font-weight: 400;
  display: inline-block;
  transition: all 0.2s;
  border-radius: 6px;
}
.rect-btn:hover{
  background-color: rgba(240, 240, 240, 0.2);
}
.read-more{
  margin-top: 5%;
  font-size: 0.6em;
}

.customer-container {
  width: 100%;
  line-height: 0;
  padding: 24px 0px;
}
.customer-image {
  border-radius: 6px;
  background-size: cover;
  width: 420px;
  height: 420px;
  max-width: 90vw;
  max-height: 90vw;
  display: inline-block;
  margin: 20px 10px;
}

/*Styles for the customer images that have flipsides*/

.customer-info {
  border-radius: 6px;
  width: 90%;
  height: 90%;
  padding: 5%;
  background-color: rgba(155, 89, 182, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  float: left;
  line-height: 1;
  color: #f0f0f0;
  font-size: 1.5em;
  text-align: left;
}
.customer-info h2 {
  margin: 0;
  font-size: 1.6em;
  font-weight: 400;
}
.customer-info h1 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 300;
}
.customer-info p{
    margin: 5% 0px;
    font-weight: 300;
}
.customer-heading{
  height: 30%;
  padding-left: 5%;
}
.customer-image:hover .customer-info {
  opacity: 1;
  visibility: visible;
}
.customer-logo{
  border-radius: 50%;
  float: left;
  width: 30%;
  background-color: #ecf0f1;
}
.rect-btn.customer-btn{
  font-size: 1em;
  font-weight: 400;
  margin-top: 5%;
}
@media all and (max-width: 650px) {
  .logo-big {
    font-size: 22vw;
    margin-top: 0;
  }
  .nav-link {
    display: none;
  }
  .nav-link.some {
    display: inline-block;
  }
}
@media all and (max-width: 450px) {
  .customer-info {
    font-size: 1.1em;
  }
  .customer-info h1{
    font-size: 1.3em;
  }
}
