@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300|Pacifico);
@media all and (max-width: 600px){
  .content-icon{
    float: none !important;
    margin: auto !important;
  }
  .align-right{
    text-align: center !important;
  }
  .content{
    text-align: center;
  }
}
body {
  margin: 0;
  font-family: 'Oxygen';
  font-weight: 400;
  background: url('social_media.jpg')  repeat center center fixed;
  background-size: cover;
  color: #ecf0f1;
}
a {
  color: #ecf0f1;
  text-decoration: none;
}
h2 {
  font-family: 'Oxygen';
  font-weight: 300;
  font-size: 2em;
}
#header {
  height: 70px;
  background: #9b59b6;
  width: 100vw;
  position: fixed;
  z-index: 101;
  top: 0;
}
#footer{
  padding: 14px;
  background: #9b59b6;
  text-align: center;
}
.anchor{
  height: 0;
}
.letterpress{
  font-size: 20px;
  color: #222;
  text-shadow: 0px 2px 3px #555;
}
.container {
  width: 50%;
  min-width: 800px;
  margin: auto;
}
.card {
  margin-top: 0px;
  background: #9b59b6;
}
.divider {
  margin: 80px auto 80px auto;
  width: 40%;
  min-width: 600px;
  border-bottom: solid 1px #9b59b6;
}
.divider-heading{
  margin: -30px auto 40px auto;
  width: 80%;
  color: #9b59b6;
  font-weight: 300;
  font-family: 'Oxygen';
  font-size: 2em;
  text-align: center;
}
.content {
  padding: 30px;
  min-height: 160px;
  line-height: 1.5;
  font-size: 18px;
}
#page-content {
  background: rgba(236, 240, 241, 0.9);
}
#header .logo {
  display: inline-block;
  font-family: 'Pacifico';
  color: #ecf0f1;
  line-height: 30px;
  padding: 20px;
  font-size: 2em;
}
.content h2{
  margin-top: 0;
  margin-bottom: 5px;
}
#header .logo::before {
  content: 'SomeOne';
}
#header .nav {
  display: inline-block;
  float: right;
  height: 100%;
}
.down-icon {
  width: 60px;
  height: 60px;
  margin-top: 35px;
  margin-bottom: 40px;
}
.banner {
  padding-top: 110px;
  padding-bottom: 60px;
  margin-bottom: -80px;
  background: rgba(255, 255, 255, 0.4);
}
.logo-big {
  text-align: center;
  margin: auto;
  font-size: 8em;
  color: #34495e;
  font-family: 'Pacifico';
}
.logo-footer {
  text-align: center;
  margin: auto;
  color: #34495e;
  font-size: 2.5em;
  font-family: 'Oxygen';
  /*text-shadow: 1px 1px #ecf0f1;*/
}
.logo-big::before {
  content: 'SomeOne';
}
.nav-link {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  line-height: 30px;
  padding: 20px;
  transition: background 0.5s;
}
.nav-link:hover {
  background: #8e44ad;
}
.nav-links {
  list-style: none outside none;
}
.align-right{
  text-align: right;
}
.content-link{
  color: #1abc9c;
}
/*HELLOOOOOOOOO*/
.content-icon {
  display: block;
  width: 160px;
  height: 160px;
  border-radius: 100px;
  background: #ecf0f1;
  box-shadow: 0px 0px 5px 3px rgba(50, 50, 50, 0.5);
}
.camera {
  display: inline-block;
  width: 160px;
  height: 160px;
  border-radius: 100px;
  background: url('camera.svg') center/contain no-repeat;
}
.facebook {
  display: inline-block;
  width: 160px;
  height: 160px;
  border-radius: 100px;
  background: url('facebook.svg') center/contain no-repeat;
}
.sonera {
  display: inline-block;
  width: 160px;
  height: 160px;
  border-radius: 100px;
  background: url('sonera_logo.png') center/contain no-repeat;
}
.map {
  display: inline-block;
  width: 160px;
  height: 160px;
  border-radius: 100px;
  background: url('svg/reddit.svg') center/contain no-repeat;
}
.question{
  display: inline-block;
  width: 160px;
  height: 160px;
  border-radius: 100px;
  background: url('question.svg') center/contain no-repeat;
}
.letter{
  display: inline-block;
  width: 160px;
  height: 160px;
  border-radius: 100px;
  background: url('letter.svg') center/contain no-repeat;
}
.plane{
  display: inline-block;
  width: 160px;
  height: 160px;
  border-radius: 100px;
  background: url('plane.svg') center/contain no-repeat;
}
.content-icon.left {
  text-align: left;
  float: left;
  margin-right: 30px;
}
.content-icon.right {
  float: right;
  text-align: right;
  margin-left: 30px;
}
